<h1>Listing yodas</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @yodas.each do |yoda| %>
  <tr>
    <td><%= yoda.title %></td>
    <td><%= yoda.content %></td>
    <td><%= link_to 'Show', yoda %></td>
    <td><%= link_to 'Edit', edit_yoda_path(yoda) %></td>
    <td><%= link_to 'Destroy', yoda, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Yoda', new_yoda_path %>
